
div {
	font-weight: bold;
}

div.canvas-container {
    margin: 0 auto;
}

div.make-me-flex {
  display: flex;
  flex-direction: row;
}

div.make-my-children-flex > div {
  flex: 1;
}

div.toolbar {
  flex: 0;
  padding: 20px;
}

div.card-content-canvas-container {
    flex: 1;
    margin: 0 auto;
    padding: 20px;
}
